name: "std";
version: "0.2.0";
description: "Standard library for Hooo";
functions {
  absurd : false -> a;
  and_map : a -> (b => (a & b));
  and_symmetry : (a & b) -> (b & a);
  comp : (c^b & b^a) -> (c^a);
  curry : ((a & b) => c) -> (a => (b => c));
  eq_symmetry : ((a => b) & (b => a)) -> ((b => a) & (a => b));
  eq_transitivity : (((a => b) & (b => a)) & ((b => c) & (c => b))) -> ((a => c) & (c => a));
  fst : (a & b) -> a;
  hooo_and : ((a & b)^c) -> (a^c & b^c);
  hooo_imply : ((a => b)^c) -> (a^c => b^c);
  hooo_or : ((a | b)^c) -> (a^c | b^c);
  hooo_rev_and : (a^c & b^c) -> ((a & b)^c);
  hooo_rev_or : (a^c | b^c) -> ((a | b)^c);
  imply_transitivity : ((a => b) & (b => c)) -> (a => c);
  lam_transitivity : (b^a & c^b) -> (a => c);
  left : a -> (a | b);
  lob_absurd : ((p^true => p)^true => p^true) -> false;
  lob_triv : true -> (p^true => p);
  modus_ponens : (a & b^a) -> b;
  not_double : a -> (!(!a));
  not_rev_double_excm : ((!(!a)) & (a | (!a))) -> a;
  not_rev_triple : (!(!(!a))) -> (!a);
  or_symmetry : (a | b) -> (b | a);
  para_lob : ((!false^true)^true => false^true) -> false;
  pow_lift : (a^b) -> ((a^b)^c);
  pow_to_imply : (b^a) -> (a => b);
  pow_to_imply_lift : (b^a) -> ((a => b)^c);
  pow_to_tauto_imply : (a^b) -> ((b => a)^true);
  pow_transitivity : (b^a & c^b) -> (c^a);
  refl : a -> a;
  right : b -> (a | b);
  snd : (a & b) -> b;
  tauto_hooo_and : ((a & b)^c) -> ((a^c & b^c)^true);
  tauto_hooo_imply : ((a => b)^c) -> ((a^c => b^c)^true);
  tauto_hooo_or : ((a | b)^c) -> ((a^c | b^c)^true);
  tauto_hooo_rev_and : ((a^c & b^c)^true) -> ((a & b)^c);
  triv : (a^true) -> a;
  uncurry : (a => (b => c)) -> ((a & b) => c);
  unify : ((a | b) & ((a => c) & (b => c))) -> c;
}
dependencies {
}
