name: "qu";
version: "0.2.0";
description: "Path semantical qubit and quality";
functions {
  q_from : ((a == b) & (qu(a) & qu(b))) -> q(a, b);
  q_left : q(a, b) -> q(a, a);
  q_right : q(a, b) -> q(b, b);
  q_to : q(a, b) -> ((a == b) & (qu(a) & qu(b)));
  q_to_q : q(a, a) -> qu(a);
  qu_in_arg : (qu(a) & (a == b)^true) -> qu(b);
  qu_to_q : qu(a) -> q(a, a);
}
dependencies {
}
