name: "test";
version: "0.1.0";
description: "This is a test library";
functions {
  lam_transitivity : (b^a & c^b) -> (a => c);
  test_sym_block : sym(a, a') -> sym(b, b');
  test_sym_block_2 : sym(a, all(a' | b))(c) -> (c | b);
  test_sym_block_3 : a -> sym(b, b')(a);
  test_sym_block_5 : all(a) -> sym(b, b')(a);
  test_sym_block_6 : true -> true;
  test_sym_block_7 : sym(a, all(a'))(a) -> a;
}
dependencies {
}
